:root {
    --global-neu-background-color: #ececec;
    --global-color-light-blue: #18a1f0;
    --global-neu-font-dark: #a3a3a3;
    --global-neu-text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.5), 2px 2px 2px rgba(70, 70, 70, 0.5);
    --global-neu-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    --global-neu-inset-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: sans-serif;
    color: var(--global-neu-font-dark);
}

h1 {
    color: var(--global-neu-font-dark);
    text-shadow: var(--global-neu-text-shadow);
}

.container {
    display: grid;
    grid-template-columns: 11fr 29fr;
}

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr;
    }
}

input[type="checkbox"] {
    height: 4rem;
    width: 8rem;
    -webkit-appearance: none;
    box-shadow: var(--global-neu-box-shadow);
    border-radius: 20%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input[type="checkbox"]:after {
    color: var(--global-neu-font-dark);
    font-size: 2rem;
}

.Sunday:after {
    content: "Sun";
}

.Monday:after {
    content: "Mon";
}

.Tuesday:after {
    content: "Tue";
}

.Wednesday:after {
    content: "Wed";
}

.Thursday:after {
    content: "Thur";
}

.Friday:after {
    content: "Fri";
}

.Saturday:after {
    content: "Sat";
}

.Try:after {
    content: "Try";
}

input[type="checkbox"]:checked {
    box-shadow: var(--global-neu-box-shadow), inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]:checked:after {
    color: #18a1f0;
}

.neu-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.neu {
    width: 90%;
    position: relative;
    margin: 10px;
    padding: 10px;
    box-shadow: var(--global-neu-box-shadow);
    border-radius: 20px;
}

.neu-inset {
    margin: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 20px;
}

.neu-btn {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    color: var(--global-neu-font-dark);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 10px 10px 15px rgba(70, 70, 70, 0.3);
}

.neu-range {
    background-color: #ececec;
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    border-radius: 50px;
    outline: none;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.3);
}

.neu-range::-webkit-slider-thumb {
    background-color: #ececec;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.3);
}

#temp-slider {
    background: linear-gradient(90deg, #185ef0, #30cfd0 50%, #00000000 50%);
}

#set-temp {
    color: #d1d1d1;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.5), 2px 2px 2px rgba(70, 70, 70, 0.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.update-btn {
    background: linear-gradient(90deg, #18a1f0, #30cfd0 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.delete-btn {
    background: linear-gradient(90deg, #e74e4e, #850404 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* (A) FOR THE POPUP TIME PICKER */

#tp-pop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#tp-pop.show {
    opacity: 1;
    visibility: visible;
}


/* (B) TIME PICKER ITSELF */

.tp {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
}

#tp-pop .tp {
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
}


/* (C) HR + MIN + AM/PM */

.tp-box {
    width: 33%;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}

.tp-up,
.tp-down {
    font-size: 32px;
    font-weight: bold;
    color: var(--global-neu-font-dark);
    padding: 10px 0;
    box-shadow: var(--global-neu-box-shadow);
    cursor: pointer;
}

.tp-val {
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: 0;
    padding: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin: 5px;
    color: var(--global-neu-font-dark);
}