{% extends 'base.jinja' %} {% block head %}
<title>Thermostat</title>

{% endblock %} {% block body %}

<div class="neu-container">
    <div class="neu">
        <div class="row">
            {% for day in range(0, 8)%}
            <div class="column">
                {% if day == selDay %}
                <input type="checkbox" class={{days[day]}} onclick=" window.location.href='/setDay/'+{{day}}" checked> {% else %}
                <input type="checkbox" class={{days[day]}} onclick=" window.location.href='/setDay/'+{{day}}"> {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container">
    <div class="neu-container">
        <h1 style="text-align: top">Az Thermostat</h1>

        <div class="neu">
            <div class="neu-inset">
                <output id="set-temp">72</output>
            </div>
            <div style="padding: 10px; margin-bottom: 10px">
                <input type="range" class="neu-range" id="temp-slider" min="1" max="100" value="50" oninput="updateSlider(this.value)">
            </div>

            <div align="center">
                <input type="text" id="sel_time" hidden="true" />
                <div id="time_picker">
                </div>
                <button class="neu-btn" style="color: gray" onclick="updateCycle(0)">Add</button>
                <button class="neu-btn" style="color: gray" onclick="setTemporaryTemp()">Set</button>
            </div>
        </div>
        <div class="neu">

        </div>

        <div class="neu">
            {% if cycles|length< 1 %} 
            <h4>There are no cycles. Create one below!</h4>
            {% else %} {% for i in range(cycles|length) %}
                <div class="neu">
                    <div class="row" style="align-items: center; text-align: center">
                        <div class="column">
                            <div >
                                <i class="far fa-clock"></i>
                                <label>{{ cycles[i].h }}:{{ cycles[i].m }}</label>
                            </div>
                        </div>
                        <div class="column">
                            <div >
                                <i class="fas fa-thermometer-half"></i>
                                <label>{{ cycles[i].t }} F°</label>
                            </div>
                        </div>
                        <div class="column">
                            <button class="neu-btn" style="background-color: green" onclick="updateCycle({{cycles[i].id}})">Update</button>
                        </div>
                        <div class="column">
                            <button class="neu-btn" style="background-color: red" onclick="window.location.href='/delete/{{cycles[i].id}}'">Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %} 
            {% endif %}
        </div>

    </div>
    <div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <h2 style="text-align: center">Predicted Runtime: {{"%.2f"|format(runtime)}} Hrs.</h2>
        <label for="simDay">Simulation date:</label>

        <form name="datePicker" action="/setDate" method="POST">
            <input type="date" id="datePicker" name="datePicker" value="{{today}}" min="" max="">
            <button type="submit">Date</button>
        </form>
        <form name="startTempPicker" action="/startTemp" method="POST">
            <input type="number" id="startTempPicker" name="startTempPicker" value="{{startTemp}}" min="" max="">
            <button type="submit">Set</button>
        </form>

        
        <div class="neu">
        <label>Copy Today To ... </label>
        <form action="/copyDayTo" method="POST">
        <fieldset id="c">      

        <div class="row">   
        {% for day in range(0, 8)%}
            {% if day != selDay %}
                <div class="column">
                    <input type="checkbox" name={{days[day]}} class={{days[day]}}>
                </div>
            {% endif %} 
        {% endfor %}
        </div>
        <button class="neu-btn" style="color: gray" type="submit">Copy</button>
        </fieldset>  
        </form>
        </div>
        <script>
                var slider = document.getElementById("temp-slider");
                var output = document.getElementById("set-temp");
                //output.innerHTML = slider.value;
                slider.oninput = function() {
                    //output.innerHTML = this.value;
                }
                slider.addEventListener("mousemove", function() {
                    var x = slider.value;
                    var color = 'linear-gradient(90deg, #185ef0, #30cfd0 '+x+'%, #00000000 '+x+'%)';
                    slider.style.background = color;
                    var t = Math.trunc(map(x, 1, 100, 56, 90));
                    output.innerHTML = t;
                }
                    )

            function map(x, in_min, in_max, out_min, out_max) {
                return (x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;
            }
            function setTemporaryTemp() {
                let degrees = document.getElementById('set-temp').value;
                window.location.href = '/setTemporaryTemp/' + degrees;
            }
            function updateCycle(id) {
                let degrees = document.getElementById('set-temp').value;
                let min = Number(document.getElementById('minute').value);
                let hour = Number(document.getElementById('hour').value);
                let ante = document.getElementById('ante').value;
                if (ante === 'PM') {
                    if (hour !== 12){
                        hour += 12;
                    }
                } else if (hour === 12) {
                    hour = 0;
                }
                if (id === 0) {
                    window.location.href = '/newCycle/' + degrees + '/' + hour + '/' + min
                } else {
                    window.location.href = '/update/' + id + '/' + degrees + '/' + hour + '/' + min
                }
            }
            window.addEventListener("load", function() {
                tp.attach({
                    target: "sel_time",
                    wrap: "time_picker"
                });
            });
        </script>

    </div>
</div>

{% endblock %}