{% extends 'base.jinja' %} {% block head %}
<title>Thermostat</title>

{% endblock %} {% block body %}

<div class="neu-container">
    <div class="neu">
        <div class="row">
            {% for day in range(0, 8)%}
            <div class="column">
                {% if day == selDay %}
                <input type="checkbox" class={{days[day]}} onclick="setDay({{day}})" checked> {% else %}
                <input type="checkbox" class={{days[day]}} onclick="setDay({{day}})"> {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container">
    <div class="neu-container">
        <h1 style="text-align: top">Enxor Thermostat</h1>

        <div class="neu">
            <div class="neu-inset">
                <output id="set-temp">{{mid_t}}</output>
            </div>
            <div style="padding: 10px; margin-bottom: 10px">
                <input type="range" class="neu-range" id="temp-slider" min="1" max="100" value="50"">
            </div>

            <div align="center">
                <input type="text" id="sel_time" hidden="true" />
                <div id="time_picker">
                </div>
                <div class="neu"></div>
                <button class="neu-btn" onclick="updateCycle(0)">Add Cycle</button>
                <button class="neu-btn" onclick="setTemporaryTemp()">Set Temporary</button>
            </div>
        </div>
        <div class="neu">

        </div>

        <div class="neu">
            {% if cycles|length< 1 %} 
            <h4>There are no cycles. Create one below!</h4>
            {% else %} {% for i in range(cycles|length) %}
                <div class="neu" onclick="tester({{i}})">
                    <div class="row" style="align-items: center; text-align: center">
                        <div class="column">
                            <div >
                                <i class="far fa-clock"></i>
                                {% if cycles[i].h > 12 %}
                                <label id="cycle-time-{{i}}">{{ cycles[i].h - 12 }}:{{ '%02d' | format(cycles[i].m) }} pm</label>
                                {% elif cycles[i].h == 12 %}
                                <label id="cycle-time-{{i}}">{{ cycles[i].h }}:{{ '%02d' | format(cycles[i].m) }} pm</label>
                                {% elif cycles[i].h == 0 %}
                                <label id="cycle-time-{{i}}">{{ cycles[i].h + 12 }}:{{ '%02d' | format(cycles[i].m) }} am</label>
                                {% else %}
                                <label id="cycle-time-{{i}}">{{ cycles[i].h }}:{{ '%02d' | format(cycles[i].m) }} am</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="column">
                            <div >
                                <i class="fas fa-thermometer-half"></i>
                                <label id="cycle-temp-{{i}}">{{ cycles[i].t|int }} F°</label>
                            </div>
                        </div>
                        <div class="column">
                            <button class="neu-btn update-btn" onclick="updateCycle({{cycles[i].id}})">Update</button>
                        </div>
                        <div class="column">
                            {% if i != 0%}
                            <button class="neu-btn delete-btn" onclick="deleteCycle({{cycles[i].id}})">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %} 
            {% endif %}
        </div>

    </div>
    <div>
    <div class="neu">
        <canvas id="scheduleGraph" style="height: 370px; width: 100%;"></canvas>
    </div>
        <h2 style="text-align: center">Estimated Runtime: {{"%.2f"|format(runtime)}} Hrs.</h2>
        <div class="neu">
        <form name="datePicker" action="/setDate" method="POST">
            <label for="datePicker">Simulation Date:</label>
            <input type="date" id="datePicker" name="datePicker" value="{{today}}" min="" max="">
            <button class="neu-btn" type="submit">Date</button>
        </form>
        <form name="startTempPicker" action="/startTemp" method="POST">
            <label for="startTempPicker">Initial Temperature:</label>
            <input type="number" id="startTempPicker" name="startTempPicker" value="{{startTemp}}" step="0.1">
            <button class="neu-btn" type="submit">Set</button>
        </form>
        <button id="showHide" class="neu-btn" onclick="simParams()">Show Advanced</button>
        <form id="simParams" action="/simParams" method="POST" style="display: none;">
            <label for="btu">BTU:</label>
            <input type="number" name="btu" value="{{sim_params['btu']}}">
            <label for="delta-time">Time Delta:</label>
            <input type="number" name="delta-time" value="{{sim_params['delta-time']}}" step="0.01" min="0">
            <label for="thresh-upper">Upper:</label>
            <input type="number" name="thresh-upper" value="{{sim_params['thresh-upper']}}" step="0.5" min="0">
            <label for="thresh-lower">Lower:</label>
            <input type="number" name="thresh-lower" value="{{sim_params['thresh-lower']}}" step="0.5" min="0">
            <label for="sample-avg">Sample Average:</label>
            <input type="number" name="sample-avg" value="{{sim_params['sample-avg']}}" min="1">
            <label for="k1">Wall:</label>
            <input type="number" name="k1" value="{{sim_params['k1']}}" step="0.01" min="0">
            <label for="k2">Ceiling:</label>
            <input type="number" name="k2" value="{{sim_params['k2']}}" step="0.01" min="0">
            <label for="k3">Roof:</label>
            <input type="number" name="k3" value="{{sim_params['k3']}}" step="0.01" min="0">
            <label for="f1">UV Wall:</label>
            <input type="number" name="f1" value="{{sim_params['f1']}}" step="0.01" min="0">
            <label for="f2">UV Roof:</label>
            <input type="number" name="f2" value="{{sim_params['f2']}}" step="0.01" min="0">
            <label for="rolling-avg-size">Heat Capacity:</label>
            <input type="number" name="rolling-avg-size" value="{{sim_params['rolling-avg-size']}}" min="1">
            <button class="neu-btn" type="submit">Update</button>
            <button class="neu-btn" type="reset">Reset</button>
        </form>
        </div>
        <div class="neu">
        <label>Copy Today To ... </label>
        <form action="/copyDayTo" method="POST">
        <fieldset id="c">      

        <div class="row">   
        {% for day in range(0, 8)%}
            {% if day != selDay %}
                <div class="column">
                    <input type="checkbox" name={{days[day]}} class={{days[day]}}>
                </div>
            {% endif %} 
        {% endfor %}
        </div>
        <button class="neu-btn" type="submit">Copy</button>
        </fieldset>  
    </form>
        </div>
        <script>

        </script>

    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
var min_t = {{min_t}};
var max_t = {{max_t}};
</script>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
{% endblock %}