{% extends 'base.html' %}

{% block head %}
<title>cycleer</title>
<script src='{{ url_for('static', filename='Chart.js') }}'></script>
{% endblock %}

{% block body %}
<form name="selector" action="/" method="GET">
    <select name="selector" >
        {% for day in range(0, 7)%}
            {% if day == selDay %}
            <option value={{day}} selected>{{ days[day] }} </option>
            {% else %}
            <option value={{day}} >{{ days[day] }} </option>
            {% endif %}
        {% endfor %}
      </select> 
<button type="submit">Day</button>
</form>

<div class="row">
    <div class="column">
            <h1 style="text-align: center">Az Thermostat</h1>
    
            {% if cycles|length < 1 %}
            <h4>There are no cycles. Create one below!</h4>
            {% else %}
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hour</th>
                    <th>Min</th>
                    <th>Temp F</th>
                    <th>Actions</th>
                </tr>
                <tr>
                {% for cycle in cycles %}
                    <td> {{ cycle.d }}</td>
                    <td> {{ cycle.h }}</td>
                    <td> {{ cycle.m }}</td>
                    <td> {{ cycle.t }}</td>
                    <td>
                        <a href="/delete/{{cycle.id}}">Delete</a>
                        <br>
                        <a href="/update/{{cycle.id}}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
                <form action="/" method="POST">
                    <section>
                        <div>
                            <input type="number" name="hour" id="hour">
                            <label for="hour">Hour</label>
                        </div>
                        <div>      
                            <input type="number" name="min" id="min">
                            <label for="min">Minutes</label>
                        </div>
                        <div>
                            <input type="number" name="temperature" id="temperature">
                            <label for="temperature">Temperature</label>
                        </div>
                
                        <input type="submit" value="Add Cycle">
                    </section>
                    
                </form>
    </div>
    <div class="column">
            <canvas id="myChart" width="600" height="400"></canvas>
            <p id="caption">The schedule for the day</p>
            <script>
            // Global parameters:
            // do not resize the chart canvas when its container does (keep at 600x400px)
            Chart.defaults.global.responsive = false;

            // define the chart data
            var chartData = {
                labels : [{% for item in labels %}
                         "{{item}}",
                        {% endfor %}],
              datasets : [{
                  label: '{{ legend }}',
                  fill: true,
                  lineTension: 0.1,
                  steppedLine: true,
                  backgroundColor: "rgba(75,192,192,0.4)",
                  borderColor: "rgba(75,192,192,1)",
                  borderCapStyle: 'butt',
                  borderDash: [],
                  borderDashOffset: 0.0,
                  borderJoinStyle: 'miter',
                  pointBorderColor: "rgba(75,192,192,1)",
                  pointBackgroundColor: "#fff",
                  pointBorderWidth: 1,
                  pointHoverRadius: 5,
                  pointHoverBackgroundColor: "rgba(75,192,192,1)",
                  pointHoverBorderColor: "rgba(220,220,220,1)",
                  pointHoverBorderWidth: 2,
                  pointRadius: 1,
                  pointHitRadius: 10,
                  data : [
                      {% for item in values %}
                      {
                        y:{{item}},
                      },    
                          {% endfor %}
                        ],
                          
                  spanGaps: true
              }],
              
            }
            
             
            // get chart canvas
            var ctx = document.getElementById("myChart").getContext("2d");
             
            // create the chart using the chart canvas
            var myChart = new Chart(ctx, {
              type: 'line',
              data: chartData,
              options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  min: 55,
                                  max: 80
                              }
                          }],
                          xAxis: [{
                              type: 'time',
                              distribution: 'linear',
                              time: {
                                  unit: 'hour',
                                  displayFormats: {
                                    hour: 'HH:mm'
                                  }
                              }
                          }]
                      }
                  },
            });
            </script>
    </div>
</div>
{% endblock %}