{% extends 'base.html' %}

{% block head %}
<title>cycler</title>

<script>
  window.onload = function () {
  
  var chart = new CanvasJS.Chart("chartContainer", {
    title: {
      text: "Schedule and Predicted Furnace Response"
    },
    axisX: {
      valueFormatString: "hh:mm TT"
    },
    axisY: {
      title: "Temperature",
      suffix: "°F",
      maximum: 85.0,
      minimum: 20.0,
      valueFormatString: "#.0"
    },
    toolTip: {
      shared: true,
      
    },
    legend: {
      cursor: "pointer",
      verticalAlign: "top",
      horizontalAlign: "center",
      dockInsidePlotArea: true,
      itemclick: toogleDataSeries
    },
    data: [{
      type:"stepArea",
      xValueType: "dateTime",
      xValueFormatString: "hh:mm TT",
      name: "Schedule",
      showInLegend: true,
      markerSize: 0,
      yValueFormatString: "#.0F°",
      dataPoints: [		
        {% for s in sched %}
          { x: {{s[0]}}, y: {{s[1]}}},
        {% endfor %}
      ]
    },
    {
      type: "line",
      xValueType: "dateTime",
      xValueFormatString: "hh:mm TT",
      name: "Temperature",
      showInLegend: true,
      markerSize: 0,
      yValueFormatString: "#.0F°",
      dataPoints: [
        {% for s in furn %}
          { x: {{s[0]}}, y: {{s[1]}}},
        {% endfor %}
      ]
    },
    {
      type: "spline",
      xValueType: "dateTime",
      xValueFormatString: "hh:mm TT",
      name: "Outside",
      showInLegend: true,
      markerSize: 0,
      yValueFormatString: "#.0F°",
      dataPoints: [
        {% for s in outside %}
          { x: {{s[0]}}, y: {{s[1]}}},
        {% endfor %}
      ]
    }]
  });
  chart.render();
  
  function toogleDataSeries(e){
    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
      e.dataSeries.visible = false;
    } else{
      e.dataSeries.visible = true;
    }
    chart.render();
  }
  
  }
  </script>

{% endblock %}

{% block body %}
<form name="selector" action="/" method="GET">
    <select name="selector" >
        {% for day in range(0, 7)%}
            {% if day == selDay %}
            <option value={{day}} selected>{{ days[day] }} </option>
            {% else %}
            <option value={{day}} >{{ days[day] }} </option>
            {% endif %}
        {% endfor %}
      </select> 
<button type="submit">Day</button>
</form>

<div class="row">
    <div class="column">
            <h1 style="text-align: center">Az Thermostat</h1>
    
            {% if cycles|length < 1 %}
            <h4>There are no cycles. Create one below!</h4>
            {% else %}
            <table>
                <tr>
                    <th>Day</th>
                    <th>Hour</th>
                    <th>Min</th>
                    <th>Temp F</th>
                    <th>Actions</th>
                </tr>
                <tr>
                {% for cycle in cycles %}
                    <td> {{ cycle.d }}</td>
                    <td> {{ cycle.h }}</td>
                    <td> {{ cycle.m }}</td>
                    <td> {{ cycle.t }}</td>
                    <td>
                        <a href="/delete/{{cycle.id}}">Delete</a>
                        <br>
                        <a href="/update/{{cycle.id}}">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
                <form action="/" method="POST">
                    <section>
                        <div>
                            <input type="number" name="hour" id="hour">
                            <label for="hour">Hour</label>
                        </div>
                        <div>      
                            <input type="number" name="min" id="min">
                            <label for="min">Minutes</label>
                        </div>
                        <div>
                            <input type="number" name="temperature" id="temperature">
                            <label for="temperature">Temperature</label>
                        </div>
                
                        <input type="submit" value="Add Cycle">
                    </section>
                    
                </form>
    </div>
    <div class="column">
      <canvas id="myChart" width="600" height="400"></canvas>
      <p id="caption">The schedule for the day</p>

      <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
</div>
{% endblock %}