{% extends 'base.html' %}

{% block head %}
<title>Tasker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update {{cycle.d}} Cycle</h1>

    <form action="/update/{{cycle.id}}" method="POST">
        <section>
            <div>
                <input type="number" name="hour" id="hour" value={{cycle.h}}>
                <label for="hour">Hour</label>
            </div>
            <div>      
                <input type="number" name="min" id="min" value={{cycle.m}}>
                <label for="min">Minutes</label>
            </div>
            <div>
                <input type="number" name="temperature" id="temperature" value={{cycle.t}}>
                <label for="temperature">Temperature</label>
            </div>
    
            <input type="submit" value="Update Cycle">
        </section>
    </form>
</div>
{% endblock %}